html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

#eclipse {
    width: 100%;
    height: 100%;
    background-color: #0b1f3d;
    position: relative;
    overflow: hidden;
}

#sun {
    background-color: #e1baf0;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    animation: sun 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#moon {
    background-color: #0b1f3d;
    position: absolute;
    width: 198px;
    height: 198px;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    animation: moon 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes moon {
    0% {
        transform: translate(-50%, -50%) translate(0, 50vh) rotateZ(90deg) translate(0, -50vh);
    }
    45% {
        transform: translate(-50%, -50%) translate(0, 50vh) rotateZ(0deg) translate(0, -50vh);
    }
    55% {
        transform: translate(-50%, -50%) translate(0, 50vh) rotateZ(0deg) translate(0, -50vh);
    }
    100% {
        transform: translate(-50%, -50%) translate(0, 50vh) rotateZ(-90deg) translate(0, -50vh);
    }
}

@keyframes sun {
    33% {
        box-shadow: 0px 0px 0px 0px #e1baf0;
    }
    40% {
        box-shadow: 0px 0px 20px 10px #e1baf0;
    }
    60% {
        box-shadow: 0px 0px 20px 10px #e1baf0;
    }
    67% {
        box-shadow: 0px 0px 0px 0px #e1baf0;
    }
}